# Файл для настройки IDE

root = true

[*] # Означает, что применимо ко всем файлам в проекте
charset = utf-8 # Означает, что все файлы будут в кодировке utf-8
end_of_line = lf # Означает, что после if будет идти новая строка
insert_final_newline = true # Означает, что в конце каждого файла будет стоять новая строка

[*.{js, ts}] # Означает, что применимо для всех файлов с расширением js и ts
indent_style = space # Означает, что вместо табуляции используются пробелы
indent_size = 2 # Означает, что количество таких пробелов будет 2

[{package.json, tsconfig*.json}] # Означает, что применимо для конкретных файлов
indent_style = space # Означает, что вместо табуляции используются пробелы
indent_size = 2 # Означает, что количество таких пробелов будет 2
